/*===========================================================
  APP NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --base-col:         rgb(189, 3, 3);
    --accent-col:       #f00;

    --base-col-light:                      color-mix(in srgb, var(--base-col), #fff 20%);
    --base-col-lightnerds:                 color-mix(in srgb, var(--base-col), #fff 50%);
    --base-col-dark:                       color-mix(in srgb, var(--base-col), #000 20%);
    --base-col-dark-dark-yet-darker-still: color-mix(in srgb, var(--base-col), #000 50%);

    --text-col:         var(--base-col-light);
    --text-col-inv:     var(--base-col-dark);

    --page-bg:          var(--base-col-dark-dark-yet-darker-still);

    --panel-bg:         var(--base-col-dark);
    --panel-header-bg:  var(--base-col-dark);

    --border-col:       var(--base-col-dark);

    --drop-shadow:      0 0.25rem 1rem #0004;

    --link-col:         var(--accent-col);

    --button-bg:        var(--accent-col);
    --button-col:       var(--text-col-inv);
    --button-shadow:    0 0.1rem 0.2rem #0004;
    --button-shadow-up: 0 0.2rem 0.3rem #0008;

    --padding-lg:       2rem;
    --padding:          1rem;
    --padding-sm:       0.5rem;

    --gap-lg:           2rem;
    --gap:              1rem;
    --gap-sm:           0.5rem;

    --content-width:    60rem;
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--page-bg);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: var(--content-width);
    margin-inline: auto;
    padding: var(--padding);
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: var(--padding);

    .logo {
        width: 2rem;
        height: 2rem;
    }

    h1 {
        font-size: 1.5rem;
        flex: 1;
    }

    nav {
        display: flex;
        gap: 1rem;

        a {
            color: var(--accent-col);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h1.welcome {
    font-size: 5rem;
    text-align: center;
    margin-block: 5rem;
}


main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Flash messages --------------------------------------------------*/

#messages {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @media (width >= 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width >= 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .message {
        padding: 1rem;

        background-color: var(--back-col-dark);
        border: 2px solid var(--border-col);
        border-radius: 0.5rem;

        h3 {
            color: var(--accent-col);
        }
    }
}

/* Message Board -----------------------------------------------------------*/

#message-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    margin-block: var(--gap-lg);

    .message-item {
        background-color: var(--panel-bg);
        border: 3px solid var(--border-col);
        border-radius: 0.5rem;
        box-shadow: var(--drop-shadow);
        overflow: hidden;

        header {
            background-color: var(--panel-header-bg);
            border-bottom: 3px solid var(--border-col);
            padding: var(--padding-sm) var(--padding);

            h3 {
                font-size: 1.5rem;
                color: var(--text-col-inv);
            }
        }

        .message-body {
            padding: var(--padding);
        }

        footer {
            padding: var(--padding);
            display: flex;
            gap: var(--gap);
            align-items: center;
            font-size: 0.8rem;

            .author {
                text-align: right;
                flex: 1;
            }
        }
    }
}


